streamlit==1.45.1  # Atau versi Streamlit yang Anda gunakan
pandas==2.2.3    # Atau versi Pandas yang Anda gunakan
numpy==2.1.3      # Atau versi NumPy yang Anda gunakan
scikit-learn==1.6.1 # Atau versi scikit-learn yang Anda gunakan
tensorflow==2.19.0 # Atau versi TensorFlow yang Anda gunakan
joblib==1.5.1      # Atau versi joblib yang Anda gunakan
matplotlib
seaborn
openpyxl
gspread
google-auth-oauthlib
gspread-dataframe
