streamlit==1.33.0  # Atau versi Streamlit yang Anda gunakan
pandas==2.0.3     # Atau versi Pandas yang Anda gunakan
numpy==1.24.3      # Atau versi NumPy yang Anda gunakan
scikit-learn==1.3.0 # Atau versi scikit-learn yang Anda gunakan
tensorflow==2.12.0 # Atau versi TensorFlow yang Anda gunakan
joblib==1.3.2      # Atau versi joblib yang Anda gunakan
